/json
# Packaging
*.pyc
*.egg-info
local.py
/dist/
/build/
.idea/
**/node_modules/
**/bower_components/
/static_root/*
!/static_root/empty
.env
fabfile.py
db.sqlite3
soloha_shop
/media/*
!/media/image_not_found.jpg
# Vagrant
.vagrant
npm-debug.log
# Temporary/OS files
*.swp
*.swo
*.*~
.~lock.*
*.DS_Store
.python-version
**/migrations/*
!apps/catalogue/migrations/0001_initial.py
!apps/catalogue/migrations/0002_auto_20150217_1221.py
!apps/catalogue/migrations/0003_data_migration_slugs.py
!apps/catalogue/migrations/0004_auto_20150217_1710.py
!apps/catalogue/migrations/0005_auto_20150604_1450.py
!apps/partner/migrations/0001_initial.py
!apps/partner/migrations/0002_auto_20141007_2032.py
!apps/partner/migrations/0003_auto_20150604_1450.py
!apps/partner/migrations/0004_auto_20160107_1755.py
conf

# IDE files
.project
.pydevproject
.settings

# Docs
/docs/build/*
*.pdf
TODO

# Test files
.coverage
.noseids
coverage.xml
violations.txt
nosetests.xml
/.cache/
/htmlcov/*
/.tox/*

# Example sites
settings_local.py
/sites/sandbox/*.sqlite
/sites/sandbox/assets/
/sites/sandbox/public/
/sites/sandbox/whoosh_index/
/sites/sandbox/logs/
/sites/demo/*.sqlite
/sites/demo/assets/
/sites/demo/public/
/sites/demo/whoosh_index/
/sites/demo/logs/
/sites/us/*.sqlite
/sites/us/public/
/sites/us/logs/
sites/puppet/modules/


*.iml

## Directory-based project format:
#.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries

# Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
Будет удалено static_root/
