{% extends "customer/baseaccountpage.html" %}
{% load thumbnail %}
{% load i18n %}
{% load widget_tweaks %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:wishlists-list' %}">{% trans 'Wish Lists' %}</a>
        </li>
        <li class="active">
            {{ wishlist.name }}
        </li>
    </ul>
{% endblock %}

{% block tabcontent %}
    {% if form.total_form_count %}
        <form class="stacked" method="post">
            {{ form.management_form }}
            {% csrf_token %}
            <div class="basket-title hidden-xs">
                <div class="row">
                    <h2 class="col-sm-6 h3">{% trans 'Product' %}</h2>
                    <p class="col-sm-3 h3">{% trans "Quantity" %}</p>
                    <p class="col-sm-3 h3">{% trans "Action" %}</p>
                </div>
            </div>

            {% for subform in form %}
                {% with line=subform.instance product=subform.instance.product %}
                    <div class="row basket-items">
                        <div class="col-sm-3">
                            {% if product %}
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "100x100" upscale=False as thumb %}
                                    <a href="{{ product.get_absolute_url }}">
                                        <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                                    </a>
                                {% endwith %}
                            {% endif %}
                        </div>
                        <div class="col-sm-3">
                            {% if product %}
                                <a class="h3" href="{{ line.product.get_absolute_url }}">{{ line.get_title }}</a>
                            {% else %}
                                <em>{{ line.get_title }} ({% trans 'Not available anymore' %})</em>
                            {% endif %}
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            {% for field in subform %}
                                {% render_field field class+="form-control" %}
                                {% for error in field.errors %}
                                    <ul class="error-block">
                                        <li>{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="btn-group">
                                {% if product %}
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="{% trans 'View product' %} '{{ line.product.get_title }}'" href="{{ line.product.get_absolute_url }}">
                                        <span class="glyphicon glyphicon-link"></span>
                                    </a>
                                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                {% else %}
                                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                                        {% trans 'Actions' %}
                                        <span class="caret"></span>
                                    </a>
                                {% endif %}

                                <ul class="dropdown-menu pull-right" >
                                    <li><a href="{% url 'customer:wishlists-remove-product' key=wishlist.key line_pk=line.pk %}">
                                        {% trans 'Remove' %}
                                    </a></li>
                                    {% for other_wishlist in other_wishlists %}
                                        <li><a href="{% url 'customer:wishlists-move-product-to-another' key=wishlist.key line_pk=line.pk to_key=other_wishlist.key %}">
                                            {% blocktrans with name=other_wishlist.name %}
                                                Move to '{{ name }}' wish list
                                            {% endblocktrans %}
                                        </a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            <div class="col-sm-3 col-sm-offset-6">
                <button class="btn btn-primary" type="submit" data-loading-text="{% trans 'Updating...' %}">{% trans "Update quantities" %}</button>
            </div>
        </form>

    {% else %}
        {% trans "Your wish list is empty." %}
    {% endif %}
{% endblock tabcontent %}
