{% extends "base.html" %}
{% load staticfiles %}
{% load promotion_tags %}
{% load i18n %}

{% block styles %}
    {% comment %}
        If you are developing Oscar's CSS, or overriding Oscar's CSS
        files in your project, then set USE_LESS = True in your
        settings file. This will enable the on-the-fly less compiler.
    {% endcomment %}
    {% if use_less %}
        <link rel="stylesheet/less" type="text/css" href="{% static "oscar/less/styles.less" %}" />
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static "oscar/css/styles.css" %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/datetimepicker.css" %}" />
{% endblock %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {% include "partials/nav_accounts.html" %}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header class="header container-fluid">
        <div class="page_inner">
            <div class="row">
                {% include "partials/brand.html" %}
                <div class="col-xs-12 col-sm-1 col-md-3">
                    {% if current_site.info.phone_numbers.exists %}
                        {% with current_site.info.phone_numbers|length as count_phone_numbers %}
                            <p class="lead {% if count_phone_numbers < 4 %}hidden-sm hidden-xs {% else %}hidden-md hidden-sm hidden-xs {% endif %}">
                                {% for phone in current_site.info.phone_numbers.all %}
                                    <a class="text-white" href="tel:{{ phone }}">{{ phone.phone_number.as_international }}</a><br>
                                {% endfor %}
                            </p>

                            <div class="dropdown {% if count_phone_numbers < 4 %}visible-sm visible-xs {% else %}visible-md visible-sm visible-xs {% endif %}">
                                <button type="button" class="btn btn-transparent dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans 'Phones' %} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu stop-propagation">
                                    {% for phone in current_site.info.phone_numbers.all %}
                                        <li><a class="text-white" href="tel:{{ phone }}">{{ phone.phone_number.as_international }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endwith %}
                    {% endif %}
                </div>
                {# Mini-basket wrapped in a block so some templates can now display it #}
                {% block mini_basket %}{% include "partials/mini_basket.html" %}{% endblock %}
            </div>
        </div>
        {% block navigation %}
            {% include "partials/nav_primary.html" %}
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    {% block content_wrapper %}
        <div class="container-fluid page">
            <div class="page_inner">
                {% block breadcrumbs %}{% endblock %}
                {% block header %}
                    <div class="page-header action">
                        <h1>
                            {% if meta_tags %}
                                {{ meta_tags.h1 }}
                            {% else %}
                                {% block headertext %}{% endblock %}
                            {% endif %}
                        </h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}
                <div class="content">
                    {% block subheader %}{% endblock subheader %}

                    {# Render promotions #}
                    <div id="promotions">
                        {% for promotion in promotions_page %}
                            {% render_promotion promotion %}
                        {% endfor %}
                    </div>

                    {# Div exists for AJAX updates to entire content section #}
                    <div id="content_inner">{% block content %}{% endblock %}</div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% include "partials/footer.html" %}
{% endblock %}

{% block cdn_scripts %}
    {{ block.super }}
    {% if use_less and debug %}
        {# Load the on-the-fly less compiler. Never do this in production. #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
    {% endif %}
{% endblock %}

{# Local scripts #}
{% block scripts %}
    {{ block.super }}
    <!-- Twitter Bootstrap -->
    <script type="text/javascript" src="{% static "oscar/js/bootstrap3/bootstrap.min.js" %}"></script>
    <!-- Oscar -->
    <script src="{% static "oscar/js/oscar/ui.js" %}" type="text/javascript" charset="utf-8"></script>

    <script src="{% static "oscar/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js" %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static "oscar/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.all.js" %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
