{% extends "catalogue/browse.html" %}
{% load catalogue %}
{% load i18n %}

{% block title %}{{ category.get_meta_title }} | {{ block.super }}{% endblock %}
{% block description %}{{ category.get_meta_description|default:""|striptags }}{% endblock %}
{% block keywords %}{{ category.get_meta_keywords|default:""|striptags }}{% endblock %}

{% block headertext %}{{ category.get_h1 }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    {% if filters.exists %}
        <div class="well well-sm">
            {% assign trancate_filter 32 %}
            {% assign trancate_filter_value 23 %}
            {% if selected_filters.exists %}
                {% regroup selected_filters by parent as group_filters %}
                {% assign filter_parents group_filters|fetch_from_dict:'grouper' %}

                <div class="heading">{% trans 'Selected' %}</div>
                <div class="filter">
                    {% for filter in group_filters %}
                        <div class="items">
                            <div class="name text-center" title="{{ filter.grouper.title }}">
                                {{ filter.grouper.title|truncatechars:trancate_filter }}
                            </div>
                            <div class="values">
                                <ul class="list-group">
                                    {% for value in filter.list|dictsort:'title' %}
                                        <li class="list-group-item checkbox">
                                            {% assign clear_filter selected_filters|remove:value %}
                                            {% trans 'Clear' as title %}

                                            <a class="btn btn-default btn-block active"
                                               href="{% reverse_url 'catalogue:category' url_extra_kwargs filter_slug=clear_filter|join_slug:"/"|default:None %}"
                                               title="{{ title }} {{ value.title|lower }}" aria-label="{{ title }} {{ value.title|lower }}">
                                                {{ value.title|truncatechars:trancate_filter_value }}
                                                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="heading">{% trans 'Selection of parameters' %}</div>
            <div class="filter">
                {% regroup filters by parent as filters %}

                {% for filter in filters %}
                    {% if filter_parents %}
                        {% assign filter_in_parents filter.grouper|in_list:filter_parents %}
                    {% endif %}

                    <div class="items">
                        <div class="name text-center" title="{{ filter.grouper.title }}">
                            {{ filter.grouper.title|truncatechars:trancate_filter }}
                        </div>
                        <div class="values">
                            <ul class="list-group">
                                {% for value in filter.list|dictsort:'title' %}
                                    {% assign add '' %}

                                    {% if filter_in_parents and value.potential_products_count %}
                                        {% assign add '+' %}
                                    {% endif %}

                                    <li class="list-group-item checkbox">
                                        {% if value|in_list:selected_filters %}
                                            {% assign clear_filter selected_filters|remove:value %}
                                            {% trans 'Clear' as title %}
                                        {% else %}
                                            {% assign clear_filter selected_filters|append:value|dictsort:'pk' %}
                                            {% trans 'Choose' as title %}
                                        {% endif %}

                                        <a href="{% reverse_url 'catalogue:category' url_extra_kwargs filter_slug=clear_filter|join_slug:"/"|default:None %}"
                                           class="btn btn-default btn-block
                                       {% if value|in_list:selected_filters %}active
                                       {% elif not value.potential_products_count %} disabled{% endif %}"
                                           title="{{ title }} {{ value.title|lower }}" aria-label="{{ title }} {{ value.title|lower }}">
                                            {{ value.title|truncatechars:trancate_filter_value }}
                                            {% if value|in_list:selected_filters %}
                                                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
                                            {% else %}
                                                <span class="count">({{ add }}{{ value.potential_products_count }})</span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block content %}
    {% if category.description %}
        <div class="table-footer">
            <div class="row">
                <div class="col-sm-9"><p>{{ category.description|safe }}</p></div>
                {% if category.image %}
                    <div class="col-sm-3">
                        <img src="{{ category.image.url }}" alt="{{ category.name }}" title="{{ category.name }}" class="img-responsive" />
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

